.vs/
*.user
*.suo

bin/
obj/
[Bb]uild/
[Bb]uild[Ll]og.*
*.log

project.lock.json
project.fragment.lock.json
artifacts/

*.db
*.db-shm
*.db-wal

wwwroot/
appsettings.*.json

**/secrets.json

.vscode/

*.log

_ReSharper*/
*.DotSettings.user

.idea/

.DS_Store
Thumbs.db

TestResults/

*.nupkg
*.snupkg
.nuget/

*.json.local

*.vspscc
*.vssscc

*.http

.idea/

**/UserSecrets/

*.exe